[package]
authors = ["Davy Duperron <yamafaktory@gmail.com>"]
categories = ["data-structures", "mathematics", "science"]
description = "Hypergraph is data structure library to create a directed hypergraph in which an hyperedge can join any number of vertices."
edition = "2021"
exclude = [".github", "hypergraph.svg", "rustfmt.toml"]
keywords = ["data-structure", "graph", "hypergraph"]
license = "MIT"
name = "hypergraph"
readme = "README.md"
repository = "https://github.com/yamafaktory/hypergraph"
rust-version = "1.56"
version = "2.1.0"

[dependencies]
ahash = "0.8.3"
indexmap = { version = "1.9.2", features = ["rayon"] }
itertools = "0.10.5"
rayon = "1.7.0"
thiserror = "1.0.39"

[dev-dependencies]
criterion = "0.4.0"

[[bench]]
name = "performance"
harness = false
